# Файлы и папки, связанные с Flutter
.dart_tool/
.packages
.pub-cache/
.pub/
/build/
/macos/
/assets/

# Файлы, специфичные для IDE
.idea/
.vscode/
*.iml
*.swp
*.swo

# Файлы, связанные с Dart
.dart_tool/
*.dart.js
*.js.map
*.info.json

# Файлы, связанные с Flutter Web
.flutter-plugins
.flutter-plugins-dependencies

# Файлы, связанные с зависимостями
/pubspec.lock
/.flutter-plugins
/.flutter-plugins-dependencies

# Файлы, связанные с кэшем
/.dart_tool/
/.metadata

# Файлы, связанные с тестами
/coverage/

# Файлы, связанные с окружением
.env
.env.*

# Файлы, связанные с пользовательскими настройками
*.log
*.DS_Store
*.lock

# Исключить папку с собранными билдами
**/build/